<div class="row">
  <main class="col-sm-12 col-md-12">
    <%= form_for @request, { url: import_imports_path , class: 'form-inline mt-2 mt-md-0' , multipart: true } do |f| %>

      <div class="form-group">
        <%= @request.errors.full_messages.first if @request.errors.any? %>
      </div>

      <%= f.hidden_field :import_for, value: import_for %>
      <%= hidden_field_tag :request_from, params[:action] %>
      <div class="form-group">
        <%= f.file_field :import_file %>
      </div>
      <div class="form-group">
        <%= f.datetime_field :extract_time, min: Time.now %>
      </div>
      <div class="form-group">
        <%= f.submit "Import Prodcts" , class: 'btn btn-primary'%>
      </div>
    <% end %>
  </main>
</div>
