<%= stylesheet_link_tag    'handsontable.full' %>
<%= javascript_include_tag 'csv_import' %>

<div class="container-fluid">
  <div class="row col-sm-12 col-md-12 mt-5">
    <h2 class="mr-auto">Import Product</h2>
  </div>
  <div class="row">
    <main class="col-sm-12 col-md-12">
      <%= form_for @request, { url: import_imports_path , class: 'form-inline mt-2 mt-md-0' , multipart: true } do |f| %>
        <div class="form-group">
          <%= @request.errors.full_messages.first if @request.errors.any? %>
        </div>
        <%= hidden_field_tag :request_from, params[:action] %>
        <%= f.hidden_field :import_for, value: ImportRequest::IMPORT_FOR[:product] %>
        <div class="form-group">
          <%= f.file_field :import_file %>
        </div>
        <div class="form-group">
          <%= f.submit "Import Prodcts", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </main>
  </div>
</div>


<br>
<div id="import_file_rows"></div>
<br>
